.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    font-size: 1.25em;
}

.form__content {
    max-width: 100%;

    .form__table-row {
        display: flex;
        align-items: center;

        .form__table-cell {
            flex: 1;
            margin-bottom: 10px;
            height: fit-content;

            @media print {
                margin-bottom: 0;
            }
        }

        .form__table-answer {
            display: flex;
            margin-right: -10px;

            @media print {
                align-items: center;
            }
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: center;
    }

    p {
        text-align: initial;

        @media print {
            margin-top: 0;
            margin-bottom: 5px;
            text-indent: 0.75cm;
            text-align: justify;
            display: block;

            + .form__answer {
                margin-top: 10px;
            }
        }
    }

    .form__answer {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        border: none;

        legend {
            margin-bottom: 15px;
        }

        label {
            margin: 10px 10px;
        }

        input, select {
            margin: 0;

            &[type='text'] {
                width: 100%;

                @media print {
                    margin-top: 5px;
                }
            }

            &[type='radio'] {
                // display: none;
                // visibility: hidden;
                opacity: 0;
                margin-right: -30px;
                margin-top: 10px;
                margin-left: 10px;

                + label {
                    border: 1px solid white;
                    border-radius: 7px;
                    padding: 8px 16px;
                    cursor: pointer;

                    @media print {
                        border-bottom: 1px transparent;
                        padding: 3px;
                        margin: 0 10px;
                    }
                }

                &:checked + label {
                    background-color: gray;

                    @media print {
                        background: initial;
                        border-radius: 0;
                        border-bottom: 1px solid black;
                    }
                }

                @media print {
                    display: none;
                }
            }
        }

        .form__subanswer {
            margin: 0;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            animation: 0.5s linear show;

            label {
                margin: 0 0 10px;
            }
        }

        .form__subquestion {
            @media print {
                line-height: 1em;
                margin-top: 5px;
            }
        }

        @media print {
            break-inside: avoid;
            line-height: 1em;
            margin-bottom: 10px;
        }
    }

    input, select {
        padding: 5px 16px 8px;
        margin: 0 10px;
        font-size: 0.75em;
        outline: none;
        box-sizing: border-box;

        @media print {
            margin: 0;
            background: initial;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid black;
            padding: 0;
            font-size: 1em;
        }
    }

    svg {
        fill: white;
        width: 200px;

        @media print {
            fill: black !important;
        }
    }
}

@keyframes show {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 100px;
    }
}

.form__submit {
    appearance: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.904);
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 16px 26px;
    user-select: none;

    &:hover {
        background-color: #252525;
        text-decoration: none;
        transition-duration: 0.1s;
    }

    &:disabled {
        background-color: #fafbfc;
        border-color: rgba(27, 31, 35, 0.15);
        color: #959da5;
        cursor: default;
    }

    &:active {
        background-color: #888888;
        box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
        transition: none 0s;
    }

    &:focus {
        outline: 1px transparent;
    }
}

.form__bottom {
    margin-bottom: 10px;

    p {
        @media print {
            text-align: initial;
            text-indent: initial;
            margin-top: 20px;

            span {
                display: block;
                margin-top: 0.5cm;
            }

            &.form__bottom-data {
                margin: 0 0 -0.25cm;
            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;
    }
}

select {
    width: 100%;

    + .form__subanswer label {
        margin-top: 10px;
    }

    + input {
        display: none;

        @media print {
            display: initial;
        }
    }

    @media print {
        display: none;

        + .form__subanswer label {
            display: none;
        }
    }
}
